:root {
  {% assign list = site.data.colors %}
  --color__1: {{ list.first }};
  {% assign list = list | shift %}
  --color__2: {{ list.first }};
  {% assign list = list | shift %}  
  --color__3: {{ list.first }};
  {% assign list = list | shift %}
  --color__4: {{ list.first }};
  {% assign list = list | shift %}
  --color__5: {{ list.first }};  
  {% assign list = list | shift %}
  --color__6: {{ list.first }};  
  {% assign list = list | shift %}
  --color__7: {{ list.first }};  
  {% assign list = list | shift %}
  --color__8: {{ list.first }};  
  {% assign list = list | shift %}
  --color__9: {{ list.first }};  
}

@import "layout";
@import "custom";
