<h1>{{ include.name | inspect }}</h1>
<h1>{{ include.url | inspect }}</h1>
{% assign name = include.name | replace: "","~!#temp#!~" %}
{% assign url = include.url | replace: "","~!#temp#!~" %}
<h1>{{ name | inspect }}</h1>
<h1>{{ url | inspect }}</h1>
{% assign content = include.content %}
{% assign link = '<a href="%href%" class="keyword">%inner%</a>' | replace: '%href%', url | replace: '%inner%', name %}
{% assign symbols = ">, " | split: "," %}
{% for symbol in symbols %}
  {% assign symbol_name = name | prepend: symbol %}
  {% assign symbol_link = link | prepend: symbol %}
  {% assign content = content | replace: symbol_name, symbol_link %}
{% endfor %}
{{ content }}
