{% assign name = include.name %}
{% assign url = include.url %}
{% assign dirt = include.dirt %}
{% assign exclude = include.exclude %}

{% capture dirty_name %}
{% for i in (0..name.size) %}
{{ name | slice: i | prepend: dirt }}
{% endfor %}
{% endcapture %}
{% assign dirty_name = dirty_name | strip_newlines | strip %}

{% capture dirty_url %}
{% for i in (0..url.size) %}
{{ url | slice: i | prepend: dirt }}
{% endfor %}
{% endcapture %}
{% assign dirty_url = dirty_url | strip_newlines | strip %}

{% assign content = include.content %}
{% assign link = '<a href="%href%" class="keyword">%inner%</a>' | replace: '%href%', dirty_url | replace: '%inner%', dirty_name %}
{% assign symbols = "<li>,<p>,<strong>,<em>, " | split: "," %}
{% for symbol in symbols %}
  {% assign symbol_name = name | prepend: symbol %}
  {% assign symbol_dirty_name = name | prepend: symbol %}
  {% assign symbol_link = link | prepend: symbol %}
  {% if exclude %}
    <h1>{{ symbol_dirty_name }}</h1>
    {% assign content = content | replace: symbol_name, symbol_dirty_name %}
  {% else %}
    {% assign content = content | replace: symbol_name, symbol_link %}
  {% endif %}
{% endfor %}
{{ content }}
