---
---


{% assign keywords = site.data.keywords %}
{% for keyword in keywords %}
  {% assign name = keyword.name %}
  {% assign url = keyword.url | prepend: site.github.baseurl %}
  {% assign exclude = keyword.exclude %}
  {% assign dirt = "<!--replace me!-->" %}
  {% capture content %}
  {% include keywords/replace.html content = content name = name url = url dirt = dirt exclude = exclude %}
  {% endcapture %}
  {% assign content = content | strip %}
{% endfor %}

{% assign items = site.data.menu %}

{% capture array %}
{% include data/flatten.html items = items %}
{% endcapture %}
{% assign names = array | strip | split: "," %}

{% for item in names %}
  {% capture title %}
  {% include docs/title.html name = item %}
  {% endcapture %}
  {% assign title = title | strip %}
  {% capture url %}
  {% include docs/url.html name = item %}
  {% endcapture %}
  {% assign url = url | strip %}
  {% assign dirt = "<!--replace me!-->" %}
  {% capture content %}
  {% include keywords/replace.html content = content name = title url = url dirt = dirt %}
  {% endcapture %}
  {% assign content = content | strip %}
{% endfor %}

{{ content | strip }}
