---
---
{% assign items = site.data.menu %}

{%- capture array -%}
{%- include data/flatten.html items = items -%}
{%- endcapture -%}
{% assign names = array | split: "," %}


{% for item in names %}
  {% capture name %}
  {% include docs/title.html name = item %}
  {% endcapture %}
  {% capture url %}
  {% include docs/url.html name = item %}
  {% endcapture %}
  {% capture content %}
  {% include keywords/replace.html content = content name = name url = url %}
  {% endcapture %}
{% endfor %}

{% comment %}
{% assign keywords = site.data.keywords %}
{% for keyword in keywords %}
  {% assign name = keyword.name %}
  {% assign url = keyword.url | prepend: site.github.baseurl %}
  <ul>
    <li>{{ name }}</li>
    <li>{{ url }}</li>
  </ul>
  {% capture content %}
  {% include keywords/replace.html content = content name = name url = url %}
  {% endcapture %}
{% endfor %}
{% endcomment %}
{{ content }}
